<link rel="stylesheet" href="../../public//css/style.css">
<div class="topnav">
  <h1>
    <a class="active" href="/">Home</a>
    <a href="/register">register</a>
    <a href="/login">login</a>
    <a href="#about">About</a>
  </h1>
</div>